@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

h1 {
  font-family: 'impact', "source-han-sans-traditional", 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-size: 28px;
  line-height: 1.15;
  color: #45423D;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  line-height: 1.2;
  font-weight: 600;
  color: #4A4A4A;
  font-size: 32px;
}

h4 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 3px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
    margin-top: 8px;
  }
}

h5 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 3px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 767px) {
  h5 {
    font-size: 12px;
    line-height: 1.3;
  }
}

h6 {
  font-size: 19px;
  color: #666;
}

p, li {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0;
  color: #4A4A4A;
  line-height: 1.9;
}

body.season2 p a {
  color: #AF946F;
}
body.season2 p a:hover, body.season2 p a:focus {
  color: #fff;
  background: #AF946F;
}

a {
  color: #AF946F;
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #F7F7F7;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(74, 74, 74, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#334A4A4A,endColorstr=#334A4A4A);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #4A4A4A;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #4A4A4A;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal h4 {
  margin: 20px 0;
}

p.note {
  font-size: 12px;
}

a.btn.btn-fb {
  display: block;
  background: #3B5998;
  border-radius: 25px;
  line-height: 40px;
  height: 40px;
  color: #fff;
  padding: 0 30px;
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
}

.tab-container {
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.table-responsive {
  border: 0;
  margin-bottom: 0;
}

.table {
  color: #666;
  font-weight: normal;
  text-align: center;
  border: 0;
  margin-bottom: 0;
  color: #666;
  padding: 10px;
}
.table tbody {
  border: 0;
}
.table th {
  text-align: center;
  font-weight: normal;
}
.table th:first-of-type, .table td:first-of-type {
  text-align: left;
}
.table th:nth-last-of-type(1), .table th:nth-last-of-type(2), .table th:nth-last-of-type(3), .table td:nth-last-of-type(1), .table td:nth-last-of-type(2), .table td:nth-last-of-type(3) {
  text-align: right;
}

.modal-content {
  width: 90%;
  margin: 0 auto;
}
.modal-content img {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.wrapper {
  margin-top: 120px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .wrapper {
    padding-bottom: 10px;
    margin-top: 36px;
  }
}
#books .wrapper {
  margin-top: 120px;
}

#section1, #section2, #section3, #section4 {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #AF946F;
}
#section1 h2, #section2 h2, #section3 h2, #section4 h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
#section1 .row, #section2 .row, #section3 .row, #section4 .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#section1 .row > [class*='col-'], #section2 .row > [class*='col-'], #section3 .row > [class*='col-'], #section4 .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  #section1, #section2, #section3, #section4 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #section1 h2, #section2 h2, #section3 h2, #section4 h2 {
    margin-bottom: 25px;
  }
  #section1 .row, #section2 .row, #section3 .row, #section4 .row {
    display: block;
  }
  #section1 [class*='col-'], #section2 [class*='col-'], #section3 [class*='col-'], #section4 [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.section.container-fluid:nth-last-of-type(1) {
  border-bottom: none !important;
}

#navigation {
  border: none;
  padding: 0;
  z-index: 999;
  width: 100%;
  text-align: center;
}
#navigation .navbar-header {
  padding: 12px 0;
  float: none;
  background: white;
  position: relative;
}
#navigation .logo {
  margin: 0;
  text-align: center;
}
#navigation .logo img {
  width: 143px;
}
#navigation #main-nav {
  z-index: 999;
  background: white;
  margin-top: -3px;
  border-bottom: 1px solid #AF946F;
}
#navigation .navbar {
  border: none;
  margin: 0;
  min-height: inherit;
  height: 56px;
  background: white;
}
#navigation .navbar-toggle {
  font-size: 1.5em;
  padding: 4px 6px;
  position: absolute;
  right: 0;
  top: 0;
}
#navigation .navbar-nav {
  border: none;
  float: none;
  text-align: center;
}
#navigation .navbar-nav li {
  float: none;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  letter-spacing: .05em;
}
#navigation .navbar-nav li a {
  font-size: 16px;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
  color: #45423D;
  padding: 18px 40px;
  font-weight: 300;
}
#navigation .navbar-nav li a:hover, #navigation .navbar-nav li a:focus {
  color: #AF946F;
  text-decoration: none;
  background: none;
}
@media only screen and (max-width: 767px) {
  #navigation .logo {
    text-align: left;
  }
  #navigation .logo img {
    width: 100px;
  }
  #navigation .navbar-nav li {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #navigation .logo {
    margin: 4px 0;
    line-height: 28px;
  }
  #navigation .nav > li {
    background: white;
  }
  #navigation .nav > li a.dropdown-toggle:hover, #navigation .nav > li a.dropdown-toggle:focus {
    border-bottom: 1px solid #FFE266;
  }
}
@media only screen and (max-width: 767px) {
  #navigation {
    padding: 10px 0;
    font-size: 16px;
  }
  #navigation .navbar-header {
    padding: 5px 15px;
  }
  #navigation .navbar-toggle {
    padding: 6px 15px;
  }
}

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  top: 20px;
  right: 20px;
}
@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

.hamburger__inner {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 8px;
  background: #45423D;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after {
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  width: 30px;
  height: 2px;
  background: #45423D;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hamburger__inner::before {
  top: 0;
}
.hamburger__inner::after {
  top: 16px;
}

.hamburger--open .hamburger__inner {
  background: none;
}
.hamburger--open .hamburger__inner::before, .hamburger--open .hamburger__inner::after {
  top: 6px;
}
.hamburger--open .hamburger__inner::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger--open .hamburger__inner::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  border-top: 1px solid #AF946F;
}
.footer .footer-content {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
}
.footer .footer-content ul li {
  display: inline-block;
  color: #8C6631;
}
.footer .footer-content ul li span img {
  width: 24px;
  margin-right: 10px;
}
.footer .footer-content ul li a img {
  width: 20px;
}
.footer .footer-content p {
  font-size: 13px;
}

.carousel-caption {
  position: static;
  height: 600px;
}

.carousel-control {
  width: 5%;
  padding-top: 25%;
}

.carousel-control.left, .carousel-control.right {
  background: none;
}

.section-slider .carousel-inner > .item {
  width: 80%;
  margin: 0 auto;
}

.carousel-indicators {
  bottom: 4px;
}
.carousel-indicators .active {
  background: #E1C9A7;
}
.carousel-indicators li {
  border-color: #E1C9A7;
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    height: 620px;
  }

  .carousel-control {
    width: 15%;
    padding-top: 40%;
  }
}
.arrow {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}

.arrow-right, .arrow-left {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
}

.arrow-right {
  border-top: 1px solid #e4d5ba;
  border-left: 1px solid #e4d5ba;
  top: 14px;
  left: 6px;
}

.arrow-left {
  top: 14px;
  left: 20px;
  border-bottom: 1px solid #e4d5ba;
  border-right: 1px solid #e4d5ba;
}

@media screen and (max-width: 768px) {
  .arrow {
    width: 40px;
    height: 40px;
  }

  .arrow-right, .arrow-left {
    width: 20px;
    height: 20px;
  }

  .arrow-right {
    top: 10px;
    left: 4px;
  }

  .arrow-left {
    top: 10px;
    left: 16px;
  }
}
blockquote {
  padding: 30px 20px;
  position: relative;
  border: 0;
  min-height: 220px;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom right, #FFF3E3, #fff);
  background-image: -o-linear-gradient(bottom right, #FFF3E3, #fff);
  background-image: linear-gradient(to top left, #fff3e3, #ffffff);
  position: relative;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
  transition: background .6s ease-out;
}
blockquote p {
  position: relative;
  z-index: 3;
  color: #AF946F;
  font-weight: lighter;
}
blockquote p.quote {
  text-align: left;
  font-size: 32px;
  line-height: 1.525;
  padding-left: 24px;
  padding-bottom: 40px;
}
blockquote p.speaker {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}
blockquote p.speaker span {
  display: block;
  line-height: 1.6;
}
blockquote p.speaker span:nth-of-type(1) {
  font-size: 20px;
}
blockquote p.speaker span:nth-of-type(2) {
  font-size: 14px;
}
blockquote:before {
  content: "";
  background: url("../images/quote.png");
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  z-index: 4;
  left: 25px;
  top: 24px;
}
blockquote:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom right, rgba(239, 195, 136, 0.9), #fff);
  background-image: -o-linear-gradient(bottom right, rgba(239, 195, 136, 0.9), #fff);
  background-image: linear-gradient(to top left, rgba(239, 195, 136, 0.9), #ffffff);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
blockquote:hover:after {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  blockquote {
    min-height: 0;
  }
  blockquote p.quote {
    font-size: 25px;
    line-height: 1.425;
  }
  blockquote p.speaker span {
    line-height: 1.3;
  }
  blockquote p.speaker span:nth-of-type(1) {
    font-size: 16px;
  }
  blockquote p.speaker span:nth-of-type(2) {
    font-size: 12px;
  }
}

.modal-backdrop.in {
  opacity: 1;
  background: white;
}

.modal-dialog {
  width: 100% !important;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  *zoom: 1;
}
.modal-dialog:after, .modal-dialog:before {
  content: "";
  display: table;
}
.modal-dialog:after {
  clear: both;
}
@media screen and (min-width: 1200px) {
  .modal-dialog .container {
    width: 970px;
  }
}
.modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5% 0;
  box-shadow: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media only screen and (max-width: 768px) {
  .modal-dialog .modal-content {
    padding: 50px 0 10px;
  }
}
.modal-dialog .modal-body {
  padding: 0;
  height: 100%;
  *zoom: 1;
}
.modal-dialog .modal-body:after, .modal-dialog .modal-body:before {
  content: "";
  display: table;
}
.modal-dialog .modal-body:after {
  clear: both;
}
.modal-dialog iframe {
  display: table-cell;
  height: 100%;
  width: 100%;
}

.book-cover img {
  border: 1px solid #ddd;
}

.book-detail ul li {
  line-height: 2.2;
}
.book-detail ul li .del {
  text-decoration: line-through;
}
.book-detail ul li .discount, .book-detail ul li .price {
  color: #CA7600;
  font-weight: bold;
}
.book-detail ul li .price {
  font-size: 22px;
}
@media only screen and (max-width: 768px) {
  .book-detail {
    width: 80%;
    margin: 16px auto;
  }
}

.inline {
  display: inline-block;
}

#quantity-container {
  margin: 20px 0;
}

#quantity-title {
  color: #AF946F;
}

#quantity-plus,
#quantity-minus {
  cursor: pointer;
  color: #AF946F;
  font-size: 2rem;
  vertical-align: middle;
  margin: 0 15px;
}

#quantity-input {
  width: 36px;
  height: 36px;
  line-height: 34px;
  border: solid 1px #AF946F;
  vertical-align: middle;
  text-align: center;
}

#quantity-input-text {
  vertical-align: middle;
  font-size: 1.5rem;
  color: #AF946F;
}

#quantity-add-cart {
  background-color: #AF946F;
  cursor: pointer;
  padding: 10px 0;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 220px;
  margin: 16px 0;
  line-height: 36px;
}

#quantity-add-cart.add-cart-null {
  background-color: #FAF8F5;
  color: #AF946F;
  border: 1px solid #AF946F;
}

#cart-icon {
  position: relative;
  cursor: pointer;
}

#cart-icon-count {
  background: #AF946F;
  color: white;
  font-size: 14px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  vertical-align: top;
  position: relative;
  margin-left: 4px;
  margin-top: -2px;
  z-index: 10;
}

#checkout-button {
  background-color: #5bc4bf;
  display: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  float: right;
}

.recommand-block {
  border: 1px solid #AF946F;
  margin: 18px 0;
  padding: 18px;
}
.recommand-block .col-sm-2 {
  padding-right: 5px;
}
.recommand-block .col-sm-10 {
  padding-left: 5px;
}
.recommand-block .name {
  font-size: 18px;
}
.recommand-block .title {
  font-size: 14px;
  color: #AF946F;
  font-weight: lighter;
  border-bottom: 1px solid #AF946F;
}
.recommand-block .icon_recommand {
  margin-left: 10px;
}
.recommand-block .icon_recommand img {
  width: 25px;
  margin-top: -4px;
}
