@charset 'utf-8';
@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.5;
	overflow-x: hidden;
}

//basic style
h1, h2, h3, h4, h5, h6 {
	
	line-height: 1.8;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
}
*:hover {
	@include transition(color, .5s, ease-in);
}
h1 {
	font-family: 'impact', "source-han-sans-traditional", 'Helvetica', sans-serif;
	font-weight: 900;
	font-size: 4em;
//	letter-spacing: .115em;
}
h2 {
	font-size: 28px;
    line-height: 1.15;
    color: $black;
    font-weight: normal;
	@include respond-to (only-mobile){
		font-size: 22px;
	}
}
h3 {
	line-height: 1.2;
	font-weight: 600;
	color: $dark-gray;
	font-size: 20px;
	font-weight: normal;
}
h4 {
	font-size: 18px;
	margin-top: 16px;
	margin-bottom: 3px;
	font-weight: normal;
	@include respond-to (only-mobile){
		font-size: 16px;
		margin-top: 8px;
	}
}
h5 {
	font-size: 14px;
	font-weight: lighter;
	margin-top: 3px;
	margin-bottom: 6px;
	@include respond-to (only-mobile){
		font-size: 12px;
		line-height: 1.3;
	}
}
h6 {
    font-size: 19px;
    color: $gray;
}
p, li {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 0;
	color: $dark-gray;
	line-height: 1.9;
//	letter-spacing: .05em;
//	text-align: justify;
}
a {
	color: $primary-color;
	@include transition(all, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
		color: $primary-color;
	}
}
hr {
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
.gold {
	color: $gold;
}
.close {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
	z-index: 9999;
	cursor: pointer;
	top: 12px;
	right: 12px;
	background: $light-gray;
	&:hover {
		@include transparent($dark-gray,.2);
		&::before, &::after {
			background: $dark-gray;
		}
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $dark-gray;
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
	h4, h5 {
		text-align: center;
	}
	&.col-xs-3 {
		padding-left: 30px;
		padding-right: 30px;
		vertical-align: top;
		&.host {
			padding-right: 40px;
		}
		&.participant {
			&:nth-of-type(1) {
				padding-left: 40px;
			}
		}
	} 
}
.modal {
	h4 {
		margin: 20px 0;
	}
}
p.note {
    font-size: 12px;
}
.a-btn-lg {
	line-height: 50px;
	height: 50px;
	color: $black;
	width: 240px;
	margin: 30px auto;
	a {
		display: block;
		text-align: center;
		color: $black;
		border: 1px solid $black;
		&:hover {
			background: $rice;
			border: 1px solid $gray;
		}
	}
	&.full {
		width: 100%;
	}
}
.tab-container {
	padding: 10px;
	background: $white;
	border-radius:0;
	border: 1px solid #ddd;
}
.table-responsive {
	border: 0;
	margin-bottom: 0;
}
.table {
//	background: $white;
	color: $gray;
	font-weight: normal;
	text-align: center;
	border: 0;
	margin-bottom: 0;
	color: $gray;
	padding: 10px;
	
	tbody {
		border: 0;
	}
	th {
		text-align: center;
		font-weight: normal;
	}
	tr {
	}
	th, td {
		vertical-align: middle!important;
	}
}

.modal-content {
	width: 90%;
	margin: 0 auto;
	img {
		margin: 0 auto;
	}
	@include respond-to (only-device){
		width: 100%;
	}
}
.amount-money {
//	color: #CA7600;
	color: $gold;
//	font-weight: lighter;
	font-weight: normal;
	font-size: 22px;
}
//btn style
//.btn {
//	span {
//		padding: 0 5px;
//	}
//	&.active {
//		box-shadow: none;
//	}
//}
//.btn-xs, .btn-group-xs > .btn {
//	padding: 3px 6px;
//	@include respond-to (xxs-mobile){
//		padding: 1px 3px;
//	}
//}
//.btn-group .btn + .btn, 
//.btn-group .btn + .btn-group, 
//.btn-group .btn-group + .btn, 
//.btn-group .btn-group + .btn-group {
//	margin-left: 1px;
//}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.container-fluid {
}
.wrapper {
	padding-top: 120px;
    padding-bottom: 20px;
    min-height: 100%;
	@include respond-to (only-mobile){
		padding-bottom: 10px;
		padding-top: 36px;
	}
//	#books & {
//		margin-top: 120px;
//	}
}
.content-wraper {
    overflow: hidden;
    padding-bottom: 150px;
}
#section1, #section2, #section3, #section4, #section5 , #section6, #section7 {
    max-width: 1400px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid $gold;
	h2 {
		margin-top: 0;
		margin-bottom: 50px;
		text-align: center;
	}
	.quote-block, .qa-block, .recent-events {
		&.row {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
			> [class*='col-'] {
				 display: flex;
				 flex-direction: column;
			}
			@include respond-to (only-mobile){
				display: block;
			}
		}
	}
//	.row {
//	  display: -webkit-box;
//	  display: -webkit-flex;
//	  display: -ms-flexbox;
//	  display: flex;
//	}
//	.row > [class*='col-'] {
//		 display: flex;
//		 flex-direction: column;
//	}
//	.row [class*="col-"]{
//	  margin-bottom: -99999px;
//	  padding-bottom: 99999px;
//	}
//	.row{
//	  overflow: hidden; 
//	}

	@include respond-to (only-mobile){
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 30px;
		padding-right: 30px;
		h2 {
			margin-bottom: 25px;
		}
		>.row {
			display: block;
		}
		[class*='col-'] {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
	
	
}
.section {
	&.container-fluid {
		&:nth-last-of-type(1) {
			border-bottom: none!important;
		}
	}
}
//.btn-primary {
//	background-color: transparent;
//	border: 0;
//	color: $white;
//	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
//		border: 0;
//		color: $white;
//		background-color: transparent;
//	}
//	&:active {
//		&:hover, &:focus {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//		}
//	}
//	&.dropdown-toggle {
//		.open & {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//			&:hover, &:focus, &.focus {
//				border: 0;
//				color: $white;
//				background-color: transparent;
//			}
//		}
//	}
//	&.disabled {
//		background-color: transparent;
//		border: 0;
//		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
//			border: 0;
//			background-color: transparent;
//		}
//	}
//	@include respond-to (normal-mobile){
//		font-size: 12px;
//	}
//}

#navigation {
	border: none;
	padding: 0;
	z-index: 999;
	width:100%;
	text-align: center;
	.navbar-header {
		padding: 12px 0;
		float: none;
		background: white;
		position: relative;
        height: auto;
//		border-bottom: 1px solid $gold;
        @include respond-to (only-mobile){
            height: 56px;
            border-bottom: 1px solid $light-gray;
        }
		
	}
	.logo {
        margin: 0;
		text-align: center;
        img {
			width: 143px;
        }
	}
	#main-nav {
		z-index: 999;
		background: white;
		margin-top: 0px;
		border-bottom: 1px solid $gold;
	}
	.navbar {
		border: none;
		margin: 0;
		min-height: inherit;
//		height: 56px;
		background: white;
//        border-bottom: 1px solid $black;
        @include respond-to (only-mobile){
            height: 56px;
//            border-bottom: 1px solid $black;
        }
	}
	.navbar-toggle {
		font-size: $xxl-font;
		padding: 4px 6px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar-nav {
		border: none;
		float: none;
		text-align: center;
		li {
			float: none;
			vertical-align: middle;
			@include inline-block;
			font-size: 16px;
			letter-spacing: .05em;
			a {
				font-size: 16px;
				@include transition(all ,.5s, ease-in-out);
				color: $black;
				padding: 18px 40px;
				font-weight: 300;
				&:hover, &:focus {
					color: $gold;
					text-decoration: none;
					background: none;
				}
			}
		}
	}
	@include respond-to (only-mobile){
		.logo {
			text-align: left;
			img {
				width: 100px;
			}
		}
		.navbar-nav {
			li {
				display: block;
			}
		}
	}
	@include respond-to (only-mobile){
		.logo {
			margin: 4px 0;
			line-height: 28px;
		}
		.nav > li {
			background: white;
			a.dropdown-toggle {
				&:hover, &:focus {
					border-bottom: 1px solid #FFE266;
				}
			}
		}
	}
	@include respond-to (only-mobile){
		padding: 10px 0;
		font-size: 16px;
		.navbar-header {
			padding: 5px 15px;
		}
		.navbar-toggle {
			padding: 6px 15px;
		}
	}
}
.header__menu {
	position: absolute;
	top: 0;
	right: 0;
}
// Config
$hamburger__height: 30px;
$hamburger__width: 30px;
$hamburger__layer__height: 2px;
$hamburger__colour: $black;

// Structure
.hamburger {
	display: block;
	position: absolute;
	width: $hamburger__height;
	height: $hamburger__width;
	z-index: 2;
	top: 20px;
	right: 20px;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.hamburger__inner {
	display: block;
	width: $hamburger__width;
	height: $hamburger__layer__height;
	margin-top: $hamburger__layer__height * 4;
	background: $hamburger__colour;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	&::before,
	&::after {
		display: block;
		position: absolute;
		content: "";
		z-index: -1;
		width: $hamburger__width;
		height: $hamburger__layer__height;
		background: $hamburger__colour;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	&::before {
		top: 0;
	}
	&::after {
		top: $hamburger__layer__height * 8;
	}
}

// Clicked State
.hamburger--open {
	.hamburger__inner {
		background: none;
		&::before,
		&::after {
			top: $hamburger__layer__height * 3;
		}
		&::before {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&::after {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

.footer {
    margin-top: -133px;
	border-top: 1px solid $gold;
	.footer-content {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
		font-size: 15px;
		ul {
			li {
				display: inline-block;
				color: $dark-gold;
				span {
					img {
						width: 24px;
						margin-right: 10px;
					}
				}
				a {
					img {
						width: 20px;
					}
				}
			}
		}
		p {
			font-size: 13px;
		}
	}
}

//carousel
.carousel-caption {
    @media screen and (min-width: 769px) {
        display: none;
    }
	position: static;
    text-shadow: none;
    padding-top: 12px;
    padding-bottom: 40px;
    h3 {
        font-size: 18px;
        color: $black;
        font-weight: normal;
    }
    h4 {
        font-size: 15px;
        color: $gray;
        font-weight: lighter;
    }
    h3, h4 {
        line-height: 1.2;
        margin: 0;
    }
}
.carousel-control {
	width: 5%;
	padding-top: 25%;
}
.carousel-control.left, .carousel-control.right {
	background: none;
}
.section-slider .carousel-inner > .item {
	width: 80%;
	margin: 0 auto;
}
.carousel-indicators {
	bottom: 4px;
	.active {
		background: $light-gold;
	}
	li {
		border-color: $light-gold;
	}
    @media screen and (max-width: 768px) {
        bottom: 0;
    }
}
@media screen and (max-width: 768px) {
	.carousel-caption {
	}
	.carousel-control {
		width: 15%;
		padding-top: 40%;
	}
}
.arrow {
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,.5);
	position: relative;
	cursor: pointer;
}
.arrow-right , .arrow-left  {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
}
.arrow-right {
	border-top: 1px solid #e4d5ba;
	border-left: 1px solid #e4d5ba;
	top: 14px;
	left: 6px;
	
}
.arrow-left {
	top: 14px;
	left: 20px;
	border-bottom: 1px solid #e4d5ba;
	border-right: 1px solid #e4d5ba;
}

@media screen and (max-width: 768px) {
	.arrow {
		width: 40px;
		height: 40px;
	}
	.arrow-right , .arrow-left  {
		width: 20px;
		height: 20px;
	}
	.arrow-right {
		top: 10px;
		left: 4px;
	}
	.arrow-left {
		top: 10px;
		left: 16px;
	}
}

blockquote {
	padding: 30px 20px;
	position: relative;
	border: 0;
	min-height: 220px;
	height: 100%;
	background-image: -webkit-linear-gradient(bottom right, #FFF3E3, $white);
	background-image: -o-linear-gradient(bottom right, #FFF3E3, $white);
	background-image: linear-gradient(bottom right, #FFF3E3, $white);
	position: relative;
	-webkit-transition: background .6s ease-out;  
    -moz-transition: background .6s ease-out;  
    -o-transition: background .6s ease-out;  
    transition: background .6s ease-out; 
	p {
		position: relative;
		z-index: 3;
		color: $gold;
		font-weight: lighter;
		&.quote {
			text-align: left;
			font-size: 32px;
			line-height: 1.525;
			padding-left: 24px;
			padding-bottom: 40px;
		}
		&.speaker {
			position: absolute;
			bottom: 20px;
			right: 20px;
			text-align: right;
			span {
				display: block;
				line-height: 1.6;
				&:nth-of-type(1) {
					font-size: 20px;
				}
				&:nth-of-type(2) {
					font-size: 14px;
				}
			}
		}
	}
	&:before {
		content:"";
		background: url('../images/quote.png');
		background-size: 17px 17px;
		display: inline-block;
		width: 17px; 
		height: 17px;
		position: absolute;
		z-index: 4;
		left: 25px;
		top: 24px;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(bottom right, rgba(#EFC388, .9), $white);
		background-image: -o-linear-gradient(bottom right, rgba(#EFC388, .9), $white);
		background-image: linear-gradient(bottom right, rgba(#EFC388, .9), $white);
		transition: opacity 0.5s ease-out;
		z-index: 2;
		opacity: 0;
	}
	&:hover:after {
		opacity: 1;
	}

	@include respond-to (only-mobile){
		min-height: 0;
		p {
			&.quote {
				font-size: 25px;
				line-height: 1.425;
			}
			&.speaker {
				span {
					line-height: 1.3;
					&:nth-of-type(1) {
						font-size: 16px;
					}
					&:nth-of-type(2) {
						font-size: 12px;
					}
				}
			}
		}
	}
}
.modal-backdrop {
	&.in {
		opacity: 1;
		background: rgba(white,1)
	}
}
.modal-dialog {
	width: 100%!important;
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	@include clearfix;
	.container {
		@media screen and (min-width: 1200px) {
			width: 970px;
		}
	}
	.modal-content {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 5% 0;
		box-shadow: none;
		border: 0;
		@include border-radius(0);
		
		@include respond-to (only-device){
			padding: 50px 0 10px;
		}
	}
	.modal-body {
		padding: 0;
		height: 100%;
		@include clearfix;
	}
	iframe {
		display: table-cell;
		height: 100%;
		width: 100%;
	}
}
.content {
	margin: 0 auto;
	width: 98%;
	.slider {
		.slick-list {
		}
		a {
			width: 92%;
			margin: 0 auto;
			color: $gray;
			display: block;
			&:active,
			&:focus {
				outline: 0;
			}
			img {
				&:active {
					box-shadow: 0 0 0 4px $yellow;
				}
			}
		}
		.book-cover {
			width: 100%;
//			min-height: 400px;
			display: block;
//			border: 1px solid $gray;
			background: no-repeat;
			background-size: contain;
			background-position: center bottom;
		}
		img {
			width: 100%;
//			height: 200px;
			border-radius: 50%;
			display: inline-block;
			&.active {
				box-shadow: 0 0 0 4px $yellow;
			}
		}
		span {
			display: block;
			line-height: $xxl-font;
			margin: 5px 0;
		}
	}
	.slick-dots {
		display: none!important;
	}
	.slick-initialized .slick-slide {
		text-align: center;
		background: $white;
		padding-top: 10px;
		padding-bottom: 6px;
		//			padding-left: 5%;
		//			padding-right: 5%;
	}
	.slick-prev,
	.slick-next {
		border: 1px solid #999;
		width: 40px;
		height: 40px;
		top: 38%;
		z-index: 99;
		&::before {
			color: $black;
			content: "\f105";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
		}
	}
	.slick-prev {
		left: -20px;
		&::before {
			content: "\f104";
		}
	}
	.slick-next {
		right: -20px;
	}
	@include respond-to (xlg-screen){
		.slider {
			.book-cover {
				min-height: 340px;
//				border: 1px solid pink;
			}
		}
	}
	@media only screen and (min-width: 1300px) {
		.slider {
			.book-cover {
				min-height: 414px;
//				border: 1px solid purple;
			}
		}
	}
	@include respond-to (lg-screen){
		.slider {
			.slick-prev,
			.slick-next {
				top: 32%;
			}
			.book-cover {
				min-height: 300px;
//				border: 1px solid blue;
			}
		}
	}
	@include respond-to (md-screen){
		.slider {
			.book-cover {
				min-height: 280px;
//				border: 1px solid green;
			}
		}
	}
	@media only screen and (min-width: 769px) and (max-width: 890px) {
		.slider {
			.book-cover {
				min-height: 240px;
//				border: 1px solid purple;
			}
		}
	}
	@include respond-to (only-device){
		.slider {
			.slick-prev,
			.slick-next {
				top: 110px;
			}
			.book-cover {
				min-height: 220px;
//				border: 1px solid pink;
			}
		}
	}
	@media only screen and (min-width: 641px) and (max-width: 700px) {
		.slider {
			.book-cover {
				min-height: 190px;
//				border: 1px solid purple;
			}
		}
	}
	@media only screen and (min-width: 561px) and (max-width: 640px) {
		.slider {
			.book-cover {
				min-height: 220px;
//				border: 1px solid orange;
			}
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 560px) {
		.slider {
			.book-cover {
				min-height: 180px;
//				border: 1px solid green;
			}
		}
	}
	@include respond-to (normal-mobile){
		.slick-prev {
			left: -33px;
		}
		.slick-next {
			right: -33px;
		}
		.slider {
			.book-cover {
				min-height: 220px;
//				border: 1px solid pink;
			}
		}
	}
	@include respond-to (xxs-mobile){
		.slider {
			.slick-prev,
			.slick-next {
				top: 80px;
			}
			.book-cover {
				min-height: 150px;
//				border: 1px solid pink;
			}
		}
	}
}
//.book-cover {
//	width: 100%;
//	height: 150%;
//	display: table-cell;
//	border: 1px solid red;
//	a {
//		display: block;
//		width: 100%;
//		height: 150%;
//	}
//	img {
//		border: 1px solid #ddd;
//	}
//}
//book detail
.book-detail {
	ul {
		li {
			line-height: 2.2;
			.del {
				text-decoration: line-through;
			}
			.discount, .price {
				color: #CA7600;
				font-weight: bold;
			}
			.price {
				font-size: 22px;
			}
		}
	}
	@include respond-to (only-device){
		width: 80%;
		margin: 16px auto;
	}
}

.inline {
	display: inline-block;
}
#quantity-container {
	margin: 20px 0;
}
#quantity-title {
	color: $gold;
}
#quantity-plus,
#quantity-minus {
	cursor: pointer;
	color: $gold;
	font-size: 2rem;
	vertical-align: middle;
	margin: 0 15px
}

#quantity-input {
	width: 36px;
	height: 36px;
	line-height: 34px;
	border: solid 1px $gold;
	vertical-align: middle;
	text-align: center;
}
#quantity-input-text {
	vertical-align: middle;
	font-size: 1.5rem;
	color: $gold;
}
#quantity-add-cart {
	background-color: $gold;
	cursor: pointer;
	padding: 10px 0;
	color: white;
	font-size: 18px;
	text-align: center;
	width: 220px;
	margin: 16px 0;
	line-height: 36px;
}
#quantity-add-cart.add-cart-null {
	background-color: $rice;
	color: $gold;
	border: 1px solid $gold;
}
#cart-icon, #list-icon {
	position: relative;
	cursor: pointer;
}
#cart-icon-count, #list-icon-count {
	background: $gold;
	color: white;
	font-size: 14px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: top;
	position: relative;
	margin-left: 4px;
	margin-top: -2px;
	z-index: 10;
}
#checkout-button {
	background-color: #5bc4bf;
	display: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 30px;
	float: right;
}
.recommand-block {
	border: 1px solid $gold;
	margin: 18px 0;
	padding: 18px;
	.col-sm-2 {
		padding-right: 5px;
	}
	.col-sm-10 {
		padding-left: 5px;
	}
	.name {
		font-size: 18px;
	}
	.title {
		font-size: 14px;
		color: $gold;
		font-weight: lighter;
		border-bottom: 1px solid $gold;
	}
	.icon_recommand {
		margin-left: 10px;
		img {
			width: 25px;
			margin-top: -4px;
		}
	}
}
.pagination-container {
    text-align: center;
    .pagination > li {
        >a , > span {
            border-radius: 0;
            font-weight: lighter;
            font-size: 13px;
            margin: 0 2px;
            color: $black;
        }
        @include respond-to (only-device){
            >a , > span {
                margin: 0 1px;
            }
        }
    }
}
.form-control {
	border-radius: 0;
	height: 40px;
	margin: 12px 0;
}
form label {
	font-weight: normal;
}
.warning {
	color: #D0011B;
	font-weight: normal;
	margin-top: -6px;
	display: block;
}
//.tab-container {
//	padding: 10px;
//	background: $white;
//	border-radius: 0;
//	border: 1px solid #ddd;
//	font-size: 13px;
//}
//.table-responsive {
//	border: 0;
//	margin-bottom: 0;
//}
//.table {
//	//	background: $white;
//	color: $gray;
//	font-weight: normal;
//	text-align: center;
//	border: 0;
//	margin-bottom: 0;
//	color: $gray;
//	padding: 10px;
//	tbody {
//		border: 0;
//	}
//	th {
//		text-align: center;
//		font-weight: normal;
//	}
//	tr {}
//	th,
//	td {
//		text-align: center;
//	}
//}