html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#vue {
    perspective: 2000px;
    height: 100%; 
    width: 100%; 
    overflow: auto;
}

.cube {
    position: relative;
    height: 100%; 
    width: 100%; 
    transform-style: preserve-3d;
}
.face {
    position: absolute;
    min-height: 100%; 
    width: 100%; 
    transition: transform 1s linear;
    background-color:white;
    transform-origin: center center;
}
.cube.index0 .page0 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
}

.cube.index0 .page1 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg); 
}

.cube.index0 .page2 {
    transform: translateZ(-10000px); 
}

.cube.index0 .page3 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg); 
}

.cube.index1 .page0 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

.cube.index1 .page1 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg); 
}

.cube.index1 .page2 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg); 
}

.cube.index1 .page3 {
    transform: translateZ(-10000px); 
}

.cube.index2 .page0 {
    transform: translateZ(-10000px);
}

.cube.index2 .page1 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg); 
}

.cube.index2 .page2 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg); 
}

.cube.index2 .page3 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg); 
}

.cube.index3 .page0 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube.index3 .page1 {
    transform: translateZ(-10000px); 
}

.cube.index3 .page2 {
    transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg); 
}

.cube.index3 .page3 {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg); 
}
